:root {
    --first-color:#2e2e41;
    --second-color:#5b85ff;
    --third-color:#434354;
    --text-color:#fff;

    --box-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
    --text-shadow: 0 5px 25px rgb(2, 2, 2, 0.1)
}

.portfolio {
    position: relative;
    margin: 0 80px;
    height: 100svh;
}

.tab_2-title {
    text-align: center;
    color: #757575;
    font-size: 60px;
}

.tab2-nav-bar {
    position: relative;
    margin: 65px 10px 40px 10px;
}

.tab2-navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;
}

.tab2-menu {
    color: var(--text-color);
    background-color: var(--third-color);
    max-width: 800px;
    padding: 10px;
    white-space: nowrap;
    border-bottom: 1px solid var(--third-color);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
    user-select: none;
    scroll-behavior: smooth;
}

.tab2-menu.dragging {
    scroll-behavior: unset;
    cursor: grab;
}

.tab2-menu::-webkit-scrollbar {
    display: none;
}

.tab2-btn {
    color: var(--text-color);
    display: inline-block;
    font-size: 1rem;
    font-weight: 400px;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    transition: 0.3 ease;
}

.tab2-menu.dragging .tab2-btn {
    pointer-events: none;
}

.tab2-btn:hover {
    background-color: var(--first-color);
}

.tab2-btn.active {
    background-color: var(--second-color);
}


/* tab content */

.tab-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    max-width: 1100px;
    padding: 15px 50px;
    transform: translateX(25px);
    content-visibility: hidden;
    opacity: 0;
}

.tab.active {
    transform: translateX(0);
    content-visibility: visible;
    opacity: 1;
    transition: 1s ease;
}

.tab .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 30px;
}

.tab .img-card {
    position: relative;
    width: 450px;
    max-width: 450px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.tab .img-card img {
    width: 100%;
}

.right-column {
    max-width: 800px;
}

.info .city, .info .description p {
    color: var(--text-color);
    margin-bottom: 10px;
}

.info .city {
    font-size: 2em;
}

.desc-btn {
    display: flex;
    gap: 12px;
    margin-top: 40px;
}

.desc-btn button {
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 5px;
}

.desc-btn button:hover {
   opacity: 0.8;
}

.watch {
    background-color: #44bd18;
}

.code {
    background-color: #cc1b3c;
}

/* media  */

@media screen  and (max-width: 1050px) {
    section {
        margin: 0 0px;
    }

    .tab2-nav-bar {
        margin: 65px 20px 40px 25px;
    }

    .tab {
        padding: 15px 25px;
    }

    .tab .row {
        flex-direction: column;
    }

    .tab .img-card {
        width: auto;
        max-width: 600px;
    }

    .country {
        font-size: 10vw;
        padding-bottom: 50px;
    }
}